.jumbotron{
    padding-left: 200px;
}

.nav-item{
    color: white;
}

nav{
    color: white;
}

.navbar-brand{
    color: white;
}

.col-box2{
    margin-left: 30px;
}

.col-box3{
    margin-right: 200px;
}
.col-box4{
    margin-top: 40px;
    background-color: grey;
    margin-left: 150px;
    margin-right: -50px
}

.col-box5{
    margin-top: 40px;
    background-color: grey;
    margin-left: 40px;
    height: 100px;
    width: 500px;
}

.col-box1{
    margin-left: 80px;
}

.card2{
    margin-left: -80px;
}

.card1{
    margin-right: -80px;
}

.form-group{
    margin-top: 40px;
    width: 50%;
    margin-left: 40px;
}